/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

header {
    font-family: sans-serif, Arial, sans-serif;
    background-color: #0c0c0c;
    text-align: center;
}

.profile {
    display: flex;
    align-items: center;
}



/* Step 1: Positioning and styling the profile image */
/* Step 2: 2Styling the user's profile information, including username, bio, and stats.*/
/* Step 3:Creating a responsive layout for the gallery section*/
/* Step 4: Implementing hover and focus effects for interactive elements*/
/* Step 5: Add a dynamic loading wheel at the bottom of the gallery*/
/* Step 6: Ensure your web page looks good and functions properly on desktop and mobile devices.
        Implement responsive design using media queries, making adjustments for smaller screens. */

        /* REMINDER To Use Box Sizing, Flex And Grids aswell as customize visuals to your own perogative*/